{% extends 'KutnyFrontBundle::layout.html.twig' %}

{% block title %}Jiří Koutný{% endblock %}
{% block content %}
<h1>Jiří Koutný</h1>
<p>"Nové technologie jsou na nic, když zpomalují busines"</p>
<h2 id="networks">Najdete mě na</h2>
<ul>
    <li><a href="http://www.linkedin.com/in/jirikoutny" target="_blank">LinkedIn</a></li>
    <li>Twitter - <a href="https://twitter.com/kutny" target="_blank">@kutny</a></li>
</ul>

<h2 id="code">Co programuji a dávám veřejně k dispozici</h2>
<ul>
    <li><a href="https://github.com/kutny/autowiring-bundle" target="_blank">Autowiring bundle pro Dependency Injection Container ve frameworku Symfony2</a> (2013)</li>
    <li><a href="https://github.com/kutny/tracy-bundle" target="_blank">Tracy (Laděnka) Debugger portovaný do Symfony2</a> (2013)</li>
</ul>

<h2 id="publikovani">Články, které jsem napsal</h2>
<ul>
    <li><a href="http://ja.collabim.com/?p=852&preview=1&_ppp=a00c4f622d" target="_blank">Symfony2, těší mě!</a> (vyjde na serveru Zdroják.cz, 2013)</li>
    <li><a href="http://www.lupa.cz/clanky/analyza-jake-seo-faktory-jsou-nejdulezitejsi-pro-vysledky-vyhledavani-na-seznam-cz/" target="_blank">Analýza: Jaké SEO faktory jsou nejdůležitější pro výsledky vyhledávání Seznamu?</a> (Lupa.cz, 2013)</li>
    <li><a href="http://www.zdrojak.cz/clanky/vite-jak-uzivatele-pouzivaji-vasi-aplikaci/" target="_blank">Víte, jak uživatelé používají vaši aplikaci?</a> (Zdrojak.cz, 2012)</li>
    <li><a href="http://jirikoutny.cz/files/diplomka-koutny.pdf" target="_blank">Data-driven SEO (diplomová práce, 2012)</a></li>
    <li><a href="http://blog.h1.cz/aktualne/srovnejte-narust-zpetnych-odkazu-konkurence/" target="_blank">Srovnejte nárůst zpětných odkazů konkurence</a> (blog H1.cz, 2009)</li>
    <li><a href="http://blog.h1.cz/aktualne/majesticseo/" target="_blank">Odhalte zpětné odkazy konkurence pomocí MajesticSEO</a> (blog H1.cz, 2009)</li>
    <li><a href="http://www.h1.cz/znalosti/videa-a-prezentace/open-monday-seo-nastroje-ktere-pouzivame-v-h1-cz/" target="_blank">Open Monday: SEO nástroje, které používáme v H1.cz</a> (web H1.cz, 2009)</li>
    <li><a href="http://blog.h1.cz/aktualne/predstavujeme-rozsireni-pro-seo-od-h1cz/" target="_blank">Představujeme rozšíření pro SEO od H1.cz</a> (blog H1.cz, 2008)</li>
</ul>

<p>Dále také mnoho článků na <a href="http://ja.collabim.com/" target="_blank">blogu SEO nástroje Collabim</a>.</p>

<h2 id="vystoupeni">Veřejná vystoupení</h2>
<ul>
    <li>Rozjíždíme PHP v Amazon cloudu (Poslední sobota, 2011) - <a href="http://ja.collabim.com/rozjizdime-php-v-amazon-cloudu/" target="_blank">video a slajdy</a> </li>
    <li>Start-up (skoro) zadarmo (Barcamp Vsetín, 2011) - <a href="http://vimeo.com/21970807" target="_blank">video</a> </li>
    <li>5 SEO nástrojů, které nakopnou váš web (koference WebExpo, 2010) - <a href="http://webexpo.cz/praha2010/prednaska/5-seo-nastroju-ktere-nakopnou-vas-web/" target="_blank">prezentace</a></li>
    <li>5 SEO nástrojů, které nakopnou váš web (Klub WebTop100, 2010) - <a href="http://www.slideshare.net/adobryweb/jiri-koutny" target="_blank">slajdy</a></li>
    <li>SEO nástroje, které možná neznáte (Internet Session Brno, 2010) - <a href="http://vimeo.com/14084001" target="_blank">video</a>, <a href="http://www.slideshare.net/collabim/seo-nstroje-kter-mon-neznte" target="_blank">prezentace</a></li>
    <li>Radosti a starosti při zakládání startupu, 3 měsíce poté (Barcamp Brno, 2010) - <a href="http://www.youtube.com/watch?v=eITfHp9Gpmg" target="_blank">video</a></li>
    <li>Radosti a starosti při zakládání startupu (Barcamp Vsetín, 2010) - <a href="http://vimeo.com/8870208" target="_blank">video</a></li>
</ul>
{% endblock %}