<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://kutny.myopenid.com/" />
    <title>{% block title %}{% endblock %} | JiriKoutny.cz</title>
    <link href="{{ asset_url('/bundles/kutnyfront/css/main.css') }}" type="text/css" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="heading">
        <div class="centered-content main-container">
            <span style="color: #ddd; font-size: 24px; margin-right: 20px">Jiří Koutný</span>
            <span style="color: #ddd;"><em>"Nové technologie jsou na nic, když nepomáhájí businessu"</em></span>
        </div>
    </div>
    <div class="menu-container">
        <menu class="centered-content main-container">
            {{ knp_menu_render('main', {'currentAsLink': false}) }}
            <div class="clear"></div>
        </menu>
    </div>
    <div class="centered-content main-container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block footer %}{% endblock %}
</body>
</html>